.mapsYandex {
    width: 500px;
    height: 500px;
}

.contact_text_item {
    display: flex;
    flex-direction: column;
    
    max-width: 500px;
    gap: 10px;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid black;
}

.contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}